lib
include
*.old
*.pyc
*.o
*.lo
*.a
*.la
*.gz
.deps
.libs
*~
.#*
*.swp
.DS_Store
*.db
.localized
autoscan.log
autom4te.cache
config.log
config.status
configure.scan
libtool
alm_base/Makefile
alm_base/src/Makefile
alm_base/config/config.h
alm_base/config/stamp-h1
optimass
optimass.x
